#root {
  margin: 0 auto;
  text-align: center;
  padding: 0;
}
body {
  margin: 0;
}

.media-player {
  background: red;
  height: 100px;
  width: 100%;
  bottom: 0;
  position: fixed;
}

.main-container {
  padding-bottom: 100px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  padding: 0;
  max-width: 1280px;
  margin: auto;
}

.grid-item {
  width: fit-content;
  padding: 16px;
}

.card {
  padding: 20px;
  max-height: 350px;
}

.shows {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.card {
  background-color: #a09c9c;
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-title {
  font-weight: 200;
}

.Show-content h2 {
  font-size: 1.5rem;
  margin: 0;
}

.card-content p {
  margin: 5px 0;
}

/* .card-description {
  filter: blur(1px);
} */

/* .card-description:hover {
  filter: blur(0); */
}
.show-preview {
  width: 500px;
  height: 500px;
  background: grey;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  z-index: 99;
  overflow-y: scroll;
  /* style the scroll bar */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.green-bg {
  color: green;
}
